﻿
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <div id="tableContainer">
        @{
            Html.RenderAction("ProductTable");
        }
    </div>
    <hr/>
    <div id="actionContainer">

    </div>
</div>